/* NAVBAR ANIMATION EFFECT */
.navbar-menu a {
  position: relative;
}
.navbar-menu.fill a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: #aaa;
  height: 1px;
}

.navbar-menu.fill a:after {
  text-align: left;
  content: ".";
  margin: 0;
  opacity: 0;
}
.navbar-menu.fill a:hover {
  color: #fff;
  z-index: 1;
  transition: all 2s;
}
.navbar-menu.fill a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}
/* Keyframes */
@keyframes fill {
  0% {
    width: 0%;
    height: 1px;
  }
  50% {
    width: 100%;
    height: 1px;
  }
  100% {
    width: 100%;
    height: 100%;
    background: #333;
  }
}
