:root {
  --block-animation-background-size: 250px;
}

/* Snow Animation for Block - Start */
.block-snow-wrapper {
  height: 70vh;
  width: 100%;
  background-image: url("/image/background-block-snow.jpg");
  background-size: cover;
  background-position: center bottom;
  position: relative;
  overflow: hidden;
}
.block-snow,
.block-snow::after,
.block-snow::before {
  content: "";
  top: calc(-1 * var(--block-animation-background-size));
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background-image: radial-gradient(4px 4px at 50px 25px, #ffffff, transparent),
    radial-gradient(6px 6px at 100px 75px, #ffffff, transparent),
    radial-gradient(3px 3px at 150px 125px, #ffffff, transparent),
    radial-gradient(4px 4px at 200px 175px, #ffffff, transparent),
    radial-gradient(6px 6px at 250px 225px, #ffffff, transparent),
    radial-gradient(3px 3px at 25px 50px, #ffffff, transparent),
    radial-gradient(4px 4px at 75px 100px, #ffffff, transparent),
    radial-gradient(6px 6px at 125px 150px, #ffffff, transparent),
    radial-gradient(3px 3px at 175px 200px, #ffffff, transparent);
  background-size: var(--block-animation-background-size)
    var(--block-animation-background-size);
  animation: blockScreenSnowAnimation 2s linear infinite;
}
.block-snow::after {
  margin-left: -250px;
  opacity: 0.5;
  filter: blur(2px);
  animation-direction: reverse;
  animation-duration: 4s;
}
.block-snow::before {
  margin-left: -350px;
  opacity: 0.7;
  filter: blur(1px);
  animation-direction: reverse;
  animation-duration: 6s;
}

@keyframes blockScreenSnowAnimation {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(var(--block-animation-background-size));
  }
}

/* Snow Animation for Block - End */
