/* .background {
  width: 100%;
  height: 70vh;
  overflow: hidden;
} */

.sunny {
  position: absolute;
  right: 55%;
  width: 5rem;
  height: 5rem;
  margin-top: 4rem;
  top: 0;
  z-index: 0;
}

.sunny::before {
  content: "";
  position: absolute;
  height: 80%;
  width: 80%;
  top: 13%;
  right: 8px;
  border-radius: 50%;
  z-index: 2;
  background-color: #f1c40f;
  background-image: radial-gradient(#f1c40f, #f39c12);
  box-shadow: 0 0 25px #917508;
}
.sunny::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  z-index: 1;
  background-color: #f39c12;
  will-change: opacity, transform;
  animation: fadeIn 2s linear infinite reverse,
    scaleDown 2s linear infinite reverse;
}

.block-sunny {
  width: 100%;
  /* background: linear-gradient(
    0deg,
    rgb(236, 183, 91) 0%,
    rgba(253, 201, 102, 1) 34%,
    rgba(247, 166, 61, 1) 77%,
    rgba(230, 101, 36, 1) 100%
  );
  background-position: 0% 100%;
  background-size: 100% 600%;
  animation: gradient 6s linear; */
  /* animation-direction: alternate; */
  background: url("/image/background-block-sunny.jpg");
  background-size: cover;
  overflow: hidden;
  position: relative;
  opacity: 0.9;
}

.bird {
  background-image: url("/image/bird-cells-new.svg");
  background-size: auto 100%;
  width: 88px;
  height: 125px;
  will-change: background-position;
  animation-name: fly-cycle;
  animation-timing-function: steps(10);
  animation-iteration-count: infinite;
}

.bird-one {
  animation-duration: 1s;
  animation-delay: -0.5s;
}
.bird-two {
  animation-duration: 0.9s;
  animation-delay: -0.75s;
}
.bird-container {
  position: absolute;
  top: 20%;
  left: -10%;
  transform: scale(0) translateX(-10vw);
  will-change: transform;

  animation-name: fly-right-one;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.bird-container-one {
  animation-duration: 15s;
  animation-delay: 0s;
}

.bird-container-two {
  animation-duration: 16s;
  animation-delay: 1s;
}

@keyframes fly-cycle {
  100% {
    background-position: -900px 0;
  }
}

@keyframes fly-right-one {
  0% {
    transform: scale(0.3) translateX(-10vw);
  }

  10% {
    transform: translateY(2vh) translateX(10vw) scale(0.4);
  }

  20% {
    transform: translateY(0vh) translateX(30vw) scale(0.5);
  }

  30% {
    transform: translateY(4vh) translateX(50vw) scale(0.6);
  }

  40% {
    transform: translateY(2vh) translateX(70vw) scale(0.6);
  }

  50% {
    transform: translateY(0vh) translateX(90vw) scale(0.6);
  }

  60% {
    transform: translateY(0vh) translateX(110vw) scale(0.6);
  }

  100% {
    transform: translateY(0vh) translateX(110vw) scale(0.6);
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 0% 100%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes scaleDown {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}
