svg {
  width: 100%;
  height: 100vh;
}

.back-building {
  z-index: -2;
  fill: #e65f27;
  animation: back-building-animation 6s ease;
}

.front-building {
  z-index: 2;
  fill: #65160f;
  animation: front-building-animation 6s ease;
}

@keyframes front-building-animation {
  0% {
    fill: #65160f;
  }
  50% {
    fill: #a62619;
  }
  100% {
    fill: #65160f;
  }
}

@keyframes back-building-animation {
  0% {
    fill: #e65f27;
  }
  50% {
    fill: #a9461d;
  }
  100% {
    fill: #e65f27;
  }
}
